.start_draw{
  min-height: 520px;
  padding: 30px 10px;
  margin: 50px 60px;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(top, #29D0A2, #2A90DA);
}
.wrap{
  margin: 20px auto;
}
.numw{
  width: 25%;
  height: 196px;
  line-height: 196px;
  overflow: hidden;
  color: #fff;
  box-sizing: border-box;
  display: inline-block;
  transition: all 0.5s;
  transition-delay: 2s;
}
.numw ul{
  padding: 0 16px;
}
.numw li{
  float: left;
  width: 100%;
  height: 196px;
  line-height: 196px;
  text-align: center;
  background: #89D8E7;
  font-size:100px;
}
.noBindText{
  text-align: center;
}
@-webkit-keyframes circle {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-980px);
  }
}
@-webkit-keyframes circle1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-980px);
  }
}
@-webkit-keyframes circle2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1500px);
  }
}
@-webkit-keyframes circle3 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2000px);
  }
}
@-webkit-keyframes circle4 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2500px);
  }
}

.btnsty{
  background-color: #f16f76;
  color: white;

}
